/*Window*/
.channels{
    position: fixed;
    top: 0px;
    right: 0px;
    width: 200px;
    height: 100%;
    background-color: #666666;
}

.members{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 200px;
    height: 100%;
    background-color: #666666;
}

.messages{
    position: absolute;
    top: 50px;
    left: 200px;
    right: 200px;
    min-height: calc(100vh - 50px);
    background-color: #353535;
}

.messageSendingBox{
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 10px;
    left: 210px;
    right: 200px;
    top: auto;
    min-height: 40px;
}

#msgSendingTextInput{
    min-width: calc(100% - 46px);
    outline: none;
    resize: none;
}

#sendMsgBtn{
    height: inherit;
}

#channelList, #messages, #memberList{
    list-style: none;
}

/*Messages*/
.message_container{
    display: flex;
    flex-direction: row;
    animation: message_deselected 0.2s both;
}

.message_container:hover{
    animation: message_selected 0.2s both;
}

@keyframes message_selected{
    from{background: rgba(80, 80, 80, 0);}
    to{background: rgba(80, 80, 80, 1);}
}

@keyframes message_deselected{
    from{background: rgba(80, 80, 80, 1);}
    to{background: rgba(80, 80, 80, 0);}
}

.message_thumbnail_img{
    width: 32px;
    height: 32px;
    border-radius: 16px;
}

.message_content_author{
    margin-left: 15px;
}

.message_author{
    font-weight: bold;
    color: red;
}

.message_content{
    color: darkgrey;
}

/*WebRTC connection display*/
.webrtcConnectionDisplay{
    display: none;
    position: fixed;
    background-color: #131313;
    height: 250px;
    top: 50px;
    left: 200px;
    right: 200px;
}

.webrtcConnectionDisplayBottomButtons{
    display: flex;
    flex-direction: row;
    position: relative;
    top: 170px;
    left: 0px;
    right: 0px;
    justify-content: center;
}

.webrtcDisconnectButton{
    background-color: red;
    width: 64px;
    height: 64px;
    border-radius: 32px;
    border-style: none;
    margin: 5px;
}

#cameraStream{
    z-index: 9999;
    width: 240px;
    height: 320px;
    border: 1px black solid;
}

/*Top menu*/
.top_menu{
    background-color: #606060;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0px;
    left: 200px;
    right: 200px;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.top_menu .channel_name{
    font-size: 24px;
    color: white;
}

.top_menu .top_buttons{
    margin-left: 70px;
}